.about-p {
	font-size: 17px;
	text-align: left;
}

.experience-title {
	color: Salmon;
}

.p-title {
	font-size: 17px;
}

.skill {
	text-align: left;
	color: black;
	font-size: 17px;
	font-weight: normal;
	text-decoration: none;
}

.Teal {
	color: teal;
}
