.parag{
    color: white;
    text-align: left;
    font-size: 15px;
}


.intro{
    margin: 0 auto;
    width: 75%;
}
.about-me{
    color: Gold;
    text-align: left;
    font-size: 27px;
}

@media only screen and (max-width: 600px){
    .about-me{
        font-size: 22px;
        text-align: center;
    }

    .parag{
        font-size: 17px;
        text-align: center;
    }
}
