.button:active{
  background: yellow;
}

h1{
    color: grey;
    font-size: 27px;
}

.sd{
  word-wrap: break-word;
  text-align: left;
}
.link{
  text-align: left;
  padding-left: 8px;
  color: teal;
  font-size: 15px;
}

.teal{
  color: teal;
  font-size: 25px;
}
.link:visited{
  color: teal
}

.Tag{
  margin: 0.2em! important;
}

.button{
    margin: 0.2em!important;
}

.as{
  background-color: white;
}

.title-div{
  padding: 0;
  text-align: left;
}
.project-title{
  color: black;
  padding-left: 8px;
  margin-bottom: 0px;
  font-size: 23px;
}

.course-title {
  color: grey;
  padding-left: 8px;
  margin-bottom: 0px;
  font-size: 23px;
}

.project-type{
  color:grey;
  font-size: 20px;
  margin-top: -1px;
  margin-bottom: -1px;
  text-align: left;
  padding-left: 8px;
}
