body {
  width: 50%;
  margin: 0 auto;
}

.header{
    padding-top: 30px;
    margin: auto;
}

.icon {
    height: 2.5vw;
    border-radius: 50%;
    margin-right: .5vw;
}

.Navbar {
  padding-top: 3vw;
}

.NavLink {
  margin-right: 3vw;
  font-size: 1.5vw;
}


.title {
    color: black;
    font-size: 40px;
}

.subtitle {
    margin-top: -10px;
    font-size: 25px;
    color: grey;
}

.about-title {
    font-size: 25px;
    color: grey;
}

/* tablet in horizontal mode */
@media only screen and (max-height: 1200px) and (max-width: 1400px) {
    p {
        font-size: 1.6vw;
    }

    .NavLink {
        font-size: 2.5vw;
    }

    .icon {
        height: 4vw;
        margin-right: 3vw;
        margin-bottom: 3vw;
    }

    .title {
        font-size: 4vw;
    }

    .subtitle {
        font-size: 3vw;
    }

    .about-title {
        font-size: 3vw;
    }
}

/* tablet in portrait mode */
@media only screen and (min-height: 800px) and (max-width: 1400px) {
    body {
        width: 75%;
    }

    .Navbar {
        padding-top: 9vw;
    }

    .NavLink {
        font-size: 3.5vw;
        margin-right: 6vw;
    }

    .title {
        font-size: 6vw;
    }

    .subtitle {
        font-size: 4vw;
    }

    .about-title {
        font-size: 4vw;
    }

    p {
        font-size: 2.5vw;
    }

    .icon {
        height: 5vw;
        margin-right: 2vw;
    }
}

/* phone in portrait mode */
@media only screen and (max-width: 600px){
    .about-me {
        font-size: 10px;
    }

    .icon {
        height: 9vw;
        margin-right: 3vw;
        margin-bottom: 3vw;
    }

    .header{
        width: 100%;
    }

    .Navbar {
        margin-top: 7vw;
    }

    .NavLink {
        font-size: 5vw;
    }

    p {
        font-size: 4vw;
    }

    .subtitle {
        font-size: 6vw;
    }

    .title {
        font-size: 8vw;
    }

    .about-title {
        margin-top: -8px;
        font-size: 6vw;
    }
}

/* phone in landscape mode */
@media only screen and (min-width:800px) and (max-height: 600px) {
    .NavLink {
        font-size: 2vw;
    }

    .title {
        font-size: 4vw;
    }

    .about-title {
        margin-top: -10px;
    }
}